@()(implicit request: RequestHeader, flash: Flash)
<!-- at (tasks:Seq[String])(request: RequestHeader) -->


@main("Login"){
    <h2>Message App</h2>

<!--
    <form method="get" action="validateLoginGet">
        Username: <input type="text" name="username"></input>
        Password: <input type="password" name="password"></input>
        <input type="submit"></input>
    </form>
-->
    <form method="post" action="validateLoginPost">
        @helper.CSRF.formField
        Username: <input type="text" name="username" id="username-login"></input>
        Password: <input type="password" name="password" id="password-login"></input>
        <input type="submit"></input>
    </form>

    <form method="post" action="createUser">
        @helper.CSRF.formField
        <h3>Create User</h3>
        Username: <input type="text" name="username" id="username-create"></input>
        Password: <input type="password" name="password" id="password-create"></input>
        <input type="submit"></input>
    </form>
}