

@* MsgBoardReact Template File *@
@()(implicit request: RequestHeader, flash: Flash)

@main("Message App V3.0") {
<!--
	<div id="contents">Version 3</div>

	<div id="login-section">
		<h2>Login:</h2>
		<br>
		Username: <input type="text" id="loginName">
		<br>
		Password: <input type="password" id="loginPass">
		<br>
		<button onclick="login()">Login</button><span id="login-message"></span>
		
		<h2>Create User:</h2>
		<br>
		Username: <input type="text" id="createName">
		<br>
		Password: <input type="password" id="createPass">
		<br>
		<button onclick="createUser()">Create User</button><span id="create-message"></span>
	</div>

	<div id="message-section" hidden>
		<h2>Message Board</h2>
	
		<ul id="message-board">
		</ul>
		
		<input type="text" id="newNessage"></input>
		<button onclick="putMessage()">Put Message</button><span id="put-message-message"></span>
		
		<div>
			<button onclick="logout()">Logout</button>
		</div>
	</div>

-->
	
	@* <input type="hidden" id="csrfToken" value="@helper.CSRF.getToken.value"> *@
	@* <input type="hidden" id="validateRoute" value="@routes.MsgBoardReact.validate()"> *@
	@* <input type="hidden" id="tasksRoute" value="@routes.MsgBoardReact.taskList()"> *@
	@* <input type="hidden" id="createRoute" value="@routes.MsgBoardReact.createUser()"> *@
	@* <input type="hidden" id="addRoute" value="@routes.MsgBoardReact.putMessage()"> *@
	@* <input type="hidden" id="logoutRoute" value="@routes.MsgBoardReact.logout()"> *@
	
	@* <script src="@routes.Assets.versioned("javascript/MsgBoardReact.js")"></script> *@
	@* <script src="@routes.TaskList2.generatedJS()"></script> *@
}