@import java.time.format.DateTimeFormatter
@import java.time.LocalDateTime

@* MsgBoardAjax template file*@

@(loggedInWith:String, messages: Seq[models.MemModel.Message])

<h2>Message App V2.0</h2>
    Welcome, @loggedInWith.
    <br></br>

    <input type="hidden" id="sessionUsername" value="@loggedInWith">


    @for(msg <- messages) {
        <li>
            <span>@msg.sentAt.format(DateTimeFormatter.ofPattern("yyyy-MM-dd HH:mm:ss"))</span>
            <strong>@msg.from TO @msg.to.getOrElse("[PUBLIC]"):</strong> @msg.content
            
        </li>
    }

    <br></br>

    
    To: <input type="text" id="message-to"></input>
    <br></br>
    <textarea id="message-content"></textarea>
    <br></br>
    <button onclick="putMessage()">Put Message</button>
    <br></br>
   


    <div>
        <a href="@routes.MsgBoard2.logOut">Logout</a>
    </div>