@**@
@()(implicit request: RequestHeader, flash: Flash)

@main("Message App V2.2"){

    <div id="react-root"></div>
    
    <input type="hidden" id="csrfToken" value="@helper.CSRF.getToken.value"> 
    <input type="hidden" id="validateRoute" value="@routes.MsgBoard3.validate"> 
    <input type="hidden" id="tasksRoute" value="@routes.MsgBoard3.msgBoard"> 
    <input type="hidden" id="createRoute" value="@routes.MsgBoard3.createUser"> 
    <input type="hidden" id="addRoute" value="@routes.MsgBoard3.putMessage"> 
    <input type="hidden" id="logoutRoute" value="@routes.MsgBoard3.logOut"> 
    

    <script src="@routes.Assets.versioned("javascripts/MsgBoard4.js")"></script>
    






	
}