@(loggedInWith:String, messages:Seq[models.MsgBoardModel1.Message])


@main("Task List"){
    <h2>Message App</h2>
    Welcome, @loggedInWith.
    <br></br>

    @for(msg <- messages) {

        <div>
            <strong>@msg.from TO @msg.to.getOrElse("[PUBLIC]"):</strong> @msg.content
        </div>
    }


    <!-- Form for posting a new message (if applicable) -->
    <!-- ... -->

    <form method="post" action="@routes.MsgBoardWeb1_0.postMessage">
        To: <input name="to"></input>
        <br></br>
        <textarea name="content"></textarea>

        <input type="submit" value="Post Message">
    </form>


    <div>
        <a href="@routes.MsgBoardWeb1_0.logOut">Logout</a>
    </div>
}
