@**@

@()(implicit flash:Flash)

@main("Message App V2.0"){
    <div id="contents"></div>
@*
    <input type="hidden" id="csrfToken" value="@helper.CSRF.getToken.value">
	<input type="hidden" id="loginRoute" value="@startRoute">
	<input type="hidden" id="validateRoute" value="@routes.MsgBoardAjax.validate()">
	<input type="hidden" id="createRoute" value="@routes.MsgBoardAjax.createUser()">
	<input type="hidden" id="putRoute" value="@routes.MsgBoardAjax.putMessage()">
*@
    <script src="@routes.Assets.versioned("javascripts/MsgBoardAjax.js")"></script>
}